.Aboutb {
    background-image: url("curry.jpg");
    background-size: auto;
   
    height:700px;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
 
 .diva {
   margin-top: 10px;
    font-size:1.2em;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    background-color: beige;
    border-width:2px;
border-style:solid;
border-color:black;
border-radius: 10px;
text-align: center;
margin-left: 200px;
margin-right: 200px;

 }