
  


  .homeb {
    text-align: center;
  color: black;
 
  font-family:  sans-serif;
  
  
  
  background-image: url("Images/workout1.jpg");
  background-size: 120%;
} 
.BMIb {
  text-align: center;
color: black;

font-family:  sans-serif;



background-image: url("Images/workout2.jpg");
background-size: 120%;
} 




.aboutb {
    
  text-align: center;
  color: black;
 
  font-family:  sans-serif;
  
  
  
  background-image: url("Images/workout1.jpg");
  background-size: 120%;
  
   
} 

.navbar a.active {
    background-color:#ffffff;
    color: rgb(88, 76, 76);}


.navbar {
    background-color: #333;
    overflow: hidden;
    
    border-radius: 15px;
  }
  
 
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

  }
  
 
  .navbar a:hover {
    background-color: rgb(65, 65, 65);
    color: rgb(255, 255, 255);
  }
  
  
  

  .navbar .icon {
    display: none;
  }

  .diva {
    margin-top: 10px;
     font-size:1.2em;
     font-family: 'Times New Roman', Times, serif;
     float: left;
     background-color: rgb(43, 43, 43, .4);
     border-width:2px;
     
     border-color:rgb(20, 20, 20);
    border-radius: 10px;
    margin-left: 200px;
    margin-right: 200px;
    color: #ffffff;
  }

  .diva2 {
    float: left;
  }
  .diva3 {
    margin-top: 10px;
     font-size: small;
     font-family: 'Times New Roman', Times, serif;
     float: left;
     background-color: rgb(43, 43, 43, .4);
     border-width:2px;
     
     border-color:rgb(20, 20, 20);
    border-radius: 10px;
    margin-left: 200px;
    margin-right: 200px;
    color: #ffffff;
  }

  .aimagesh {
    
        border-radius: 50%;
        width: 70x;
        height: 70px;
        border-style: solid;
    
  }

  .aimagesb{
    
    width: 500px;
    height: 500px; 
    padding: 10px;
}

.prev,.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
 
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }

.fclass {
    background-color: rgb(43, 43, 43);
    margin-top: 10px;
     font-size:1.2em;
     font-family: 'Times New Roman', Times, serif;
     
    
     border-width:2px;
     
     border-color:rgb(20, 20, 20);
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
}
.button {
    
   
    padding: 15px 32px;
    text-align: center;
    color: white;
    display: inline-block;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    background-color: rgb(43, 43, 43, .6);
    border-radius: 15px;
  }

  hr {
    width: 45%;
    height: 10%;
    
    margin-left: auto;
    margin-right: auto;
    background-color: #313131;
  }
  .font{
    font-family: cursive;
    color:azure;
  }

  

  a:link { color: white;
    text-decoration: none;

  }
  .cap {
    background-color:rgb(20, 20, 20, .5);
    border-radius: 15px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
  }

  