.homeh1 {
    
    text-align: center;
    color: black;
    border-style: solid;
    font-family:  sans-serif;
    border-radius: 15px;
     border-color: black;
     background-color: beige;
     
} 
ul {
    position: fixed;
    bottom: 0;
    width: 100%;
    
   
    
  }

   li {
    float: left;
    list-style: none;
    
    padding-right: 50px;
    
  }
 
   a {
    display: block;
    padding: 15px;
    color: black ;
    background-color: beige;
    font-family: fantasy, sans-serif;
    text-decoration: none;
    border-radius: 25px;
    border-style: solid;
    
  }
  a:hover {
    color: rgb(216, 216, 183);
  }

.homeb {
    background-image: url("pasta.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height:700px;
    background-attachment: fixed; 
}
