.Resb {
    background-image: url("roti.jpg");
    
    background-size: auto;
    background-repeat: no-repeat;
    height:700px;
    background-attachment: fixed;
  }
  .imgr{
    width: 300px;
    height: 300px; 
    padding: 10px;
    border-radius: 25px;
    
  }

 .dir{
  margin: auto;
  margin-top: 10px;
  width: 50%;
  background-color: beige;
  border-width:2px;
border-style: solid;
border-color:black;
font-size:1.2em;
font-family: 'Times New Roman', Times, serif;
text-align: center;
border-radius: 10px;

 }

 