.scrollBar
{
   height: 50px;
   overflow: auto;
  
}

.formStyle
{
display:inline-block;
margin:0 auto;
}
.error {
    color: rgb(255, 255, 255);
    font-size: 90%;
}
.valb {
    
    text-align: center;
    color: black;
   
    font-family:  sans-serif;
    
    
    
    background-image: url("Images/workout3.jpg");
    background-size: 120%;
    
     
} 